#main-container {
    display: grid;
 grid-template-areas:
    "header header"
    "myposts  post"
    "allposts  post";
    /* grid-template-columns: 30% auto;
    grid-template-rows: 25% auto; */
}

#user-info-container {
    grid-area: header;
    display: inline-flex;
    background: cyan;

}

#entries-link {
    grid-area: myposts ;

}

#entry-container {
    grid-area: post;
}


#other-links{
    grid-area: allposts;
    scroll-behavior: auto;
}